@use "sass:meta";
@use "sass:map";
@use "../values.scss" as *;

@mixin box-sizing {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

@mixin centered($width, $padding: 30px) {
  & {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
  }
  
  @media (max-width: calc(#{$width} + #{$padding} * 2)) {
    width: calc(100% - #{$padding} * 2);
    margin-left: $padding;
    margin-right: $padding;
  }
}

@mixin responsive($size, $range: false, $min: false) {
  @if meta.type-of($size) == number {
    @if $min {
      @media (min-width: $size) { @content; }
    } @else {
      @media (max-width: $size) { @content; }
    }
  } @else {
    @if map.has-key($breakpoints, $size) {
      $bp: map.get($breakpoints, $size);
      @if meta.type-of($bp) == number {
        @media (max-width: $bp) { @content; }
      } @else if map.has-key($bp, min) and map.has-key($bp, max) and $range {
        @media (min-width: map.get($bp, min)) and (max-width: map.get($bp, max)) { @content; }
      } @else if map.has-key($bp, max) {
        @media (max-width: map.get($bp, max)) { @content; }
      } @else if map.has-key($bp, min) {
        @media (min-width: map.get($bp, min)) { @content; }
      } @else {
        @error "RESPONSIVE: $breakpoint value for '#{$size}' is of an unsupported type.";
      }
    } @else {
      @error "RESPONSIVE: '#{$size}' is not defined within $breakpoints. Currently defined breakpoints: '#{map-keys($breakpoints)}'";
    }
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin nth-range($start, $end) {
  @for $i from $start through $end {
    &:nth-child(#{$i}) {
      @content;
    }
  }
}

@mixin transition-sequence($timing-gap, $elCount, $initial-delay: 0) {
  @for $i from 1 through $elCount {
    &:nth-child(#{$i}) {
      transition-delay: 0ms + $initial-delay + ($timing-gap * $i);
    }
  }
}

@mixin animation-sequence($timing-gap, $elCount, $initial-delay: 0) {
  @for $i from 1 through $elCount {
    &:nth-child(#{$i}) {
      animation-delay: 0ms + $initial-delay + ($timing-gap * $i);
    }
  }
}

@mixin ghost-center($child: '.ghost-center__child') {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.28em;
  }
  #{$child} {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin text-ellipsis($nowrap: true) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $nowrap {
    white-space: nowrap;
  }
}

@mixin font-smooth($smooth: true) {
  @if $smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: none;
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin setup-perspective($depth: 1000px, $origin: center center) {
  perspective: $depth;
  perspective-origin: $origin;
  transform-style: preserve-3d;
}

@mixin anchor-fill($z-index: 1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index;
}

// Resume component mixins
@mixin hero-gradient($start-color, $end-color) {
  background: linear-gradient(145deg, $start-color, $end-color);
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

@mixin glass-card($bg-color: $green-white-400, $shadow-opacity: 0.12) {
  background: $bg-color;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 18px;
  box-shadow: 0 12px 28px rgba(55, 79, 67, $shadow-opacity);
}

@mixin icon-link($size: 20px, $color: $green-white-100) {
  width: $size;
  height: $size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: calc($size * 0.6);
  color: $color;
  opacity: 0.95;

  &:hover {
    opacity: 1;
  }
}

@mixin responsive-heading($base-size, $min-size, $max-size, $vw-unit: 5vw) {
  font-size: clamp($min-size, $vw-unit, $max-size);
}

@mixin section-heading($font-size: 45px) {
  margin: 0 0 16px;
  font-size: $font-size;
}

@mixin stack-list-item {
  display: flex;
  flex-direction: column;
  gap: 18px;

  strong {
    display: block;
    font-size: 40px;
    line-height: 1.2;
  }

  span {
    display: block;
    color: $green-980;
    font-size: 31px;
    line-height: 1.3;
  }
}