@use "../../scss/helpers/import" as *;

.component {
  margin: {
    top: -1px;
    bottom: -1px;
  }
  padding: {
    top: $standard-vertical-spacing;
    bottom: $standard-vertical-spacing;
  }
  &.dark {
    background-color: $black;
  }

}
.wrapper {
  @include centered($max-width);
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: auto;
    gap: 60px;
  }
  &.right {
    flex-direction: row-reverse;
  }
  @include responsive(md) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    &.right {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.image {
  width: 100%;
  padding-top: 50%;
  max-height: 780px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  @include scroll-animation(
    $anim: fromTop,
    $sequence: 100ms,
    $speed: 1000ms,
    $delay: 250ms
  );
  @include responsive (md) {
    padding-top: calc(100% * (2/3));
  }
}

.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include scroll-animation($anim: fromTop, $sequence: 60ms, $speed: 1000ms);
  @include responsive(md) {
    width: 100%;
    max-width: 480px;
    margin-left: 0;
  }
}

.richtext {
  width: 100%;
  margin: 0 0 20px 0;
  & > * {
    margin: 0;
  }
  .dark & {
    color: $white;
  }
}

.link {
  @extend %button;
  width: fit-content;
  margin: 0;
  @include responsive (xs) {
    width: calc(100% - 60px);
  }
}