@use "../../../scss/values.scss" as *;
@use "../../../scss/helpers/mixins.scss" as *;

.profileCard {
  @include glass-card($green-white-400, 0.12);
  position: absolute;
  left: 46px;
  right: 46px;
  bottom: -78px;
  padding: 34px 42px;

  h2 {
    margin: 0 0 10px;
    font-size: 38px;
  }

  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.7;
    color: var(--muted);
  }
}

@include responsive(1360px) {
  .profileCard h2 {
    font-size: 32px;
  }

  .profileCard p {
    font-size: 16px;
  }
}

@include responsive(lg) {
  .profileCard {
    position: static;
    margin-top: 20px;
    padding: 20px;
  }
}
