@use "../../../scss/values.scss" as *;
@use "../../../scss/helpers/mixins.scss" as *;

.profileCard {
  position: absolute;
  left: 46px;
  right: 46px;
  bottom: -78px;
  padding: 34px 42px;
  background: #faf9f2;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 18px;
  box-shadow: 0 12px 28px rgba(55, 79, 67, 0.12);

  h2 {
    margin: 0 0 10px;
    font-size: 38px;
  }

  p {
    margin: 0;
    font-size: 17px;
    line-height: 1.7;
    color: var(--muted);
  }
}

@media (max-width: 1360px) {
  .profileCard h2 {
    font-size: 32px;
  }

  .profileCard p {
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .profileCard {
    position: static;
    margin-top: 20px;
    padding: 20px;
  }
}
