@use "../../scss/helpers/import" as *;

.component {
  width: 100%;
  background-color: $white;
  height: 50vh;
  &.dark {
    background-color: $black;
  }
  &.fullHeight {
    height: 80vh;
  }
  margin: {
    top: -1px;
    bottom: -1px;
  }
  @include responsive (md) {
    &.fullHeight {
      height: 50vh;
    }
  }
}

.wrapper {
  height: 100%;
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: $standard-vertical-spacing 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include centered($max-width);
}

.richtext {

}

.richtext > * {
  color: $black;
  
  @include scroll-animation(
    $anim: fromTop,
    $sequence: 120ms,
    $speed: 1000ms
  );
  
  .dark & {
    color: $white;
  }
  .left & {
    text-align: left;
  }
  .center & {
    text-align: center;
  }
  .right & {
    text-align: right;
  }
}