@use "../../../scss/values.scss" as *;
@use "../../../scss/helpers/mixins.scss" as *;

.section {
  h2 {
    @include section-heading(45px);
  }
}

.stackList {
  @include stack-list-item;
}

@include responsive(1360px) {
  .section h2 {
    font-size: 35px;
  }

  .stackList strong {
    font-size: 30px;
  }

  .stackList span {
    font-size: 24px;
  }
}

@include responsive(lg) {
  .section h2 {
    font-size: 32px;
  }

  .stackList strong {
    font-size: 24px;
  }

  .stackList span {
    font-size: 20px;
  }
}
