@use "../../../scss/values.scss" as *;
@use "../../../scss/helpers/mixins.scss" as *;

.section {
  h2 {
    margin: 0 0 16px;
    font-size: 45px;
  }
}

.stackList {
  display: flex;
  flex-direction: column;
  gap: 18px;

  strong {
    display: block;
    font-size: 40px;
    line-height: 1.2;
  }

  span {
    display: block;
    color: #233a33;
    font-size: 31px;
    line-height: 1.3;
  }
}

@media (max-width: 1360px) {
  .section h2 {
    font-size: 35px;
  }

  .stackList strong {
    font-size: 30px;
  }

  .stackList span {
    font-size: 24px;
  }
}

@media (max-width: 960px) {
  .section h2 {
    font-size: 32px;
  }

  .stackList strong {
    font-size: 24px;
  }

  .stackList span {
    font-size: 20px;
  }
}
