@use "./values.scss" as *;
@use "./helpers/timing-functions.scss" as *;
@use "./helpers/mixins.scss" as *;
// Put all psuedoclasses and/or mixins here.
// Important!! -- This should not contain any printable css.

%nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

%eyebrow {
  font-size: 14px;
  line-height: 17px;
}

%button {
  display: block;
  background-color: $red-100;  
  color: $white;
  padding: 15px 30px;
  text-align: center;
  border-radius: 8px;
  @extend %nav;
  &:hover {
    color: $black;
    background-color: $yellow-100;
    transition: all 0.3s $ease-out-quint;
  }
  &:not(:hover) {
    transition: all 0.3s $ease-out-quint;
  }
}

%button-round {
  display: block;
  color: $white;
  background-color: $red-100;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  &:hover {
    color: $black;
    background-color: $yellow-100;
    transition: all 0.3s $ease-out-quint;
  }
  &:not(:hover) {
    transition: all 0.3s $ease-out-quint;
  }
}

%badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: $red-100;
  color: $white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

%link-white {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  &:hover {
    color: $black;
    transition: all 0.3s $ease-out-quint;
  }
  &:not(:hover) {
    transition: all 0.3s $ease-out-quint;
  }
}

%h1 {
  font-family: "Lato", sans-serif;
  font-size: 96px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 150%;
  word-break: break-word;
  hyphens: auto;
  @include responsive(lg) {
    font-size: 72px;
  }
  @include responsive(md) {
    font-size: 56px;
  }
  @include responsive(sm) {
    font-size: 48px;
  }
}

%h2 {
  font-family: "Lato", sans-serif;
  font-size: 72px;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 150%;
  word-break: break-word;
  hyphens: auto;
  @include responsive(lg) {
    font-size: 56px;
  }
  @include responsive(md) {
    font-size: 48px;
  }
  @include responsive(sm) {
    font-size: 36px;
  }
}

%h3 {
  font-family: "Lato", sans-serif;
  font-size: 54px;
  line-height: 150%;
  margin: 0 0 20px 0;
  font-weight: 400;
  word-break: break-word;
  @include responsive(lg) {
    font-size: 48px;
  }
  @include responsive(md) {
    font-size: 36px;
  }
  @include responsive(sm) {
    font-size: 28px;
  }
}

%h4 {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  line-height: 150%;
  margin: 0 0 20px 0;
  font-weight: 400;
  word-break: break-word;
  @include responsive(lg) {
    font-size: 36px;
  }
  @include responsive(md) {
    font-size: 28px;
    margin: 0 0 10px 0;
  }
  @include responsive(sm) {
    font-size: 24px;
  }
}

%h5 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  margin: 0 0 20px 0;
  word-break: break-word;
  @include responsive(lg) {
    font-size: 28px;
  }
  @include responsive(md) {
    font-size: 24px;
  }
  @include responsive(sm) {
    font-size: 20px;
  }
}

%h6 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 150%;
  margin: 0 0 20px 0;
  word-break: break-word;
  font-weight: 400;
  @include responsive(md) {
    font-size: 22px;
    margin: 0 0 15px 0;
  }
  @include responsive(sm) {
    font-size: 20px;
    margin: 0 0 10px 0;
  }
}

%a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  cursor: pointer;
  &:hover {
    color: $yellow-200;
  }
  @include responsive(md) {
    font-size: 16px;
  }
}