@use "../../scss/helpers/import" as *;

.component {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
  @include scroll-animation($anim: fadeIn, $speed: 1000ms);
  &.halfHeight {
    height: 70vh;
  }
}

.top {
}

.both {
}

.left {
}

.center {
}

.right {
}

.media {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  iframe {
    display: block;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.78vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border: none;
    top: 50%;
    left: 50%;
    position: absolute;
  }
  img {
    width: 177.78vh;
    height: 100vh;
    object-fit: cover;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0 , 0, 1) 0%,
      rgba(0, 0 , 0, 0) 50%
    );
    z-index: 1;
  }
  .top & {
    &::before {
      background: linear-gradient(
        0deg,
        rgba(0, 0 , 0, 0) 0%,
        rgba(0, 0 , 0, 1) 50%
      );
    }
  }
  .both & {
    &::before {
      background: linear-gradient(
        0deg,
        rgba(0, 0 , 0, 1) 0%,
        rgba(0, 0 , 0, 0) 50%,
        rgba(0, 0 , 0, 0) 50%,
        rgba(0, 0 , 0, 1) 100%
      );
    }
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframeHidden {
  opacity: 0;
  transition: opacity 0.5s $ease-out-quint;
}

.iframeVisible {
  opacity: 1;
  transition: opacity 0.5s $ease-out-quint;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: calc(100%);
  position: relative;
  padding: {
    top: $standard-vertical-spacing;
    bottom: $standard-vertical-spacing;
  }
  @include centered($max-width);
  @include responsive (md) {
    align-items: center;
  }
  .left & {
    align-items: flex-start;
  }
  .center & {
    align-items: center;
  }
  .right & {
    align-items: flex-end;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0 60px;
  position: relative;
  z-index: 2;
  max-width: 750px;
  * {
    color: $white;
    margin: 0;
  }
  h3,
  h5 {
    text-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.8),
      0px 4px 8px rgba(0, 0, 0, 0.6),
      0px 8px 16px rgba(0, 0, 0, 0.4),
      0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  @include scroll-animation(
    $anim: fromBottom,
    $sequence: 60ms,
    $speed: 1000ms,
    $delay: 1000ms
  );
  @include responsive(lg) {
    padding: 0 30px;
  }
  @include responsive(md) {
    padding: 0;
    margin-bottom: 50%;
  }
}