@use "../../scss/helpers/import" as *;

.component {
    background-color: $lt-yellow;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 80vh;
    @include scroll-animation($anim: fromTop, $speed: 1000ms );
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    min-height: 350px;
    padding: 80px 0 60px 0;
    // overflow: hidden;
}

.bricks{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    right: 80%;
    top: -70px;
    width: 545px;
    min-height: 350px;
    height: 100%;
    row-gap: 40px;
    &_each{
        width: 200px;
        height: 100px;
        transform: rotate(-45deg);
        margin: 0 -30px;;
        opacity: 0;
        [data-in-view=true] &{
            opacity: 1;
            transition: all 1s $ease-out-quint;
        }
    }
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    @include centered ($max-width);
}

.content{
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 860px;
    @include scroll-animation($anim: fromLeft, $speed: 1000ms, $delay: 500ms );
    h2, h6{
        color: $lt-black;
        text-align: center;
        letter-spacing: 5px;
    }
    h2{
        display: inline-flex;
        justify-content: center;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
    }
    @include responsive(md){
        width: 60%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

