@use "../../../scss/values.scss" as *;
@use "../../../scss/helpers/mixins.scss" as *;

.section {
  h2 {
    @include section-heading(45px);
  }
}

.skillGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;

  span {
    border-radius: 8px;
    background: var(--tag);
    border: 1px solid $green-400;
    padding: 8px 14px;
    font-size: 23px;
    line-height: 1;
  }
}

@include responsive(1360px) {
  .section h2 {
    font-size: 35px;
  }

  .skillGrid span {
    font-size: 18px;
  }
}

@include responsive(lg) {
  .section h2 {
    font-size: 32px;
  }
}
