@use "../../scss/helpers/import" as *;

.component {
  flex-direction: row;
  justify-content: space-between;
  background-color: $black;
  min-height: 350px;
  position: relative;
  overflow-x: clip;
  margin: -1px 0;
}

.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 40px;
  row-gap: 30px;
  position: relative;
  overflow: hidden;
  padding: 50px 0px;
  @include centered($max-width);
  @include scroll-animation($anim: fromTop, $speed: 1000ms, $delay: 250ms);
  p {
    color: $white;
    max-width: 70%;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: auto;
    margin-bottom: 0;
  }
  @include responsive(md) {
    padding: 20px 0px;
    p {
      grid-column: 1/3;
      max-width: unset;
    }
  }
}

.link_wrapper {
  display: block;
  margin: 0;
  padding: 0;
  column-gap: 30px;
  column-count: 5;
  grid-column: 2/3;
  grid-row: 1/2;
  li {
    list-style: none;
  }
  @include responsive(md) {
    column-count: 1;
  }
}

.link {
  display: block;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: $white;
  padding: 10px 0;
  margin: 0;
}

.disclaimer {
  width: 60%;
  height: auto;
  color: $white;
  @include responsive(md) {
    width: 80%;
  }
}

.social {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin: 0;
  cursor: pointer;
  &_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  img {
    width: 100%;
    height: 100%;
  }
  svg {
    width: 100%;
    height: 100%;
    path {
      fill: $white;
    }
  }
  &:hover {
    svg {
      path {
        fill: $yellow-100;
      }
    }
  }
  @include responsive(md) {
    &_wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;
      padding-top: 5px;
    }
    &:hover {
      svg {
        path {
          fill: $white;
        }
      }
    }
  }
}
