@use "../../scss/helpers/import" as *;

.component {
  height: 80vh;
  display: flex;
  align-items: center;
  &.dark {
    background-color: $black;
  }
  @include scroll-animation($anim: fadeIn, $speed: 1000ms);
}
.wrapper {
  @include centered($max-width);
  & {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: {
      top: $standard-vertical-spacing;
      bottom: $standard-vertical-spacing;
    }
    height: auto;
    .imgRight & {
      flex-direction: row-reverse;
    }
  }
  @include responsive(md) {
    flex-direction: column;
    padding: 0;
    gap: 30px;
    padding: {
      top: calc($standard-vertical-spacing / 2);
      bottom: calc($standard-vertical-spacing / 2);
    }
    .imgRight & {
      flex-direction: column;
    }
  }
}

.image {
  background-color: $white;
  width: calc(30%);
  // height: calc(50vw + 60px);
  // max-height:360px;
  border-radius: 16px;
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  @include scroll-animation($anim: fromBottom, $sequence: 60ms, $speed: 1000ms);
  @include responsive(md) {
    width: 75%;
    // height: calc(100vw);
  }
}

.text {
  width: calc(70%);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  color: $white;
  @include scroll-animation($anim: fromLeft, $sequence: 60ms, $speed: 1000ms);
  @include responsive(md) {
    width: 100%;
    max-width: unset;
    margin-left: 0;
  }
}