@use '../../../scss/helpers/import' as *;
@use '../CollageDefault/CollageDefault.module.scss' as collage;


.component{
  padding: 30px 0;
}

.wrapper{
  @include centered ($max-width);
}

.content{
  text-align: center;
  margin-bottom: 60px;
    @include scroll-animation(
    $anim: fromTop,
    $sequence: 60ms,
    $speed: 1000ms,
    $delay: 0ms
  );
}

.inner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 768px;
  margin: 0 auto;
  @include responsive(md) {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
  }
}

.image{
  position: relative;
  width: 100%;
  opacity: 0;
  transition: all 1s $ease-out-quint;
  cursor: pointer;
  padding-top: 100%;
  grid-row: span 1;
  border-radius: 12px;
  img {
    padding: 16px;
    width: calc(100% - 32px) !important;
    height: calc(100% - 32px) !important;
  }
  &:hover {
    box-shadow: 0 0 10px rgba($color: $white, $alpha: 1);
    transform: scale(1.05);
    transition: all 0.3s $ease-out-quint;
  }
}

.modal_inner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  max-height: 80vh;
  overflow: hidden;
  @include responsive(md) {
    flex-direction: column;
  }
}

.modal_content{
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgba($black, 0.2) transparent;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba($black, 0.2);
    border-radius: 8px;
  }
}